.slide-top-enter-active,
.slide-top-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.5s;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}

.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}

.slide-top-enter-from {
  opacity: 0;
  transform: translate(0, -50px);
}

.slide-top-leave-to {
  opacity: 0;
  transform: translate(0, 50px);
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: transform  0.5s;
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
  transform: translateY(50%);
}

.slide-bottom-enter-to,
.slide-bottom-leave-from {
  transform: translateY(0);
}
