:root {
  --primary-color: #FBFCFF;
  --secundary-color: #FBFCFF;
  --button-primary-color: #468a76;
  --text-primary-color: #003C71;
  --text-secundary-color: #006B56;
  --text-gray-primary: #00382C;
  --bg-color-blue: #1C4778;
  --bg-color-green: #0CA385;
}

:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;
}

:root {
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.75;
  --leading-loose: 2;
}