volumes:
  root-dot-docker-cache-mount: {}
services:
  develop:
    command: pnpm dev
    ports:
      - "3000:3000"
    build:
      network: host
      context: ../..
      dockerfile: guis/web/Dockerfile
      secrets:
        - host.env
      target: debug
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
      - ${HOME:-~}/.skaffold/cache:/root/.skaffold/cache
    entrypoint:
      - /monorepo/plugins/devserver/dind.sh
    secrets:
      - host.env
    network_mode: host
  integrate:
    command: "true"
    build:
      network: host
      context: ../..
      dockerfile: guis/web/Dockerfile
      secrets:
        - host.env
      target: integrate
secrets:
  host.env:
    environment: HOST_ENV